<mat-card class="todoItem">
  <mat-form-field *ngIf="isEdit" class="todoItem__editForm" >
    <input 
      matInput 
      [(ngModel)]="todo.content"
      placeholder="New Content" 
      value="{{todo.content}}"
      (keyup.enter)="updateTodo()"
    >
    <button mat-raised-button color="primary" (click)="editItem()" >Cancel</button>
  </mat-form-field>
  <div class="todoItem__content" 
    *ngIf="!isEdit" >
    <button mat-raised-button
      (click)="completeTodo()" 
      color="primary">Done</button>
    <mat-card-title>
      <p [ngClass]="{isDone: todo.isDone}"
      (dblclick)="editItem()">
        {{todo.content}}
      </p>
    </mat-card-title>
    <div class="todoItem__action">
      <button mat-stroked-button (click)="editItem()" >Edit</button>
      <button mat-raised-button color="warn" (click)="removeItem()">Delete</button>
    </div>
  </div>
</mat-card>
